streamlit
pandas
openpyxl
langchain
chromadb
sentence-transformers
faiss-cpu
tiktoken
openai
langchain>=0.1.0
langchain-community
sentence-transformers
faiss-cpu
langchain-core
langchain-text-splitters
huggingface_hub
transformers
torch
